<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <ul id="cupcakes-list">

    </ul>
    <h1>Create a Cupcake</h1>
    <form action="#" class="cupcake-form">
        <div class="form-group">
        <label for="flavor">Flavor</label>
        <input type="text" name="flavor" id="flavor">
        </div>
        <div class="form-group">
        <label for="size">Size</label>
        <input type="text" name="size" id="size">
        </div>
        <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating">
        </div>
        <div class="form-group">
        <label for="image">Image</label>
        <input type="url" name="image" id="image">
        </div>

        <button class="btn btn-success">Create Cupcake</button>
    </form>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>